.container {
    -fx-background-color: #0F1A2B; /* Cor de fundo azul bem escuro */
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF; /* Cor do texto branco */
}

.text-field {
    -fx-prompt-text-fill: #CCCCCC; /* Cor do texto de prompt mais clara */
    -fx-background-color: #FFFFFF; /* Cor de fundo do TextField branco */
}

.convert-button {
    -fx-background-color: #4CAF50; /* Cor verde */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
}

.convert-button:hover {
    -fx-background-color: #45a049;
}

.currency-button {
    -fx-background-color: white; /* Cor branca */
    -fx-text-fill: black; /* Cor do texto preto */
    -fx-border-color: #2196F3; /* Cor da borda azul */
    -fx-border-width: 3px; /* Largura da borda aumentada */
    -fx-border-radius: 0px; /* Remove o arredondamento da borda */
    -fx-font-size: 14px;
    -fx-pref-height: 40px; /* Altura do botão */
}

.currency-button:hover {
    -fx-border-color: #2196F3; /* Cor da borda azul ao passar o mouse */
}

.currency-button .arrow-button {
    -fx-background-color: white;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.currency-button .arrow-button .arrow {
    -fx-background-color: transparent;
}

.currency-button .arrow-button .arrow:hover {
    -fx-background-color: transparent; /* Cor transparente ao passar o mouse sobre a seta */
}

.currency-button .arrow-button:hover {
    -fx-background-color: white; /* Cor branca ao passar o mouse sobre a seta */
}

.currency-button .arrow-button:hover .arrow {
    -fx-background-color: transparent; /* Cor transparente ao passar o mouse sobre a seta */
}

.currency-button .arrow-button:pressed {
    -fx-background-color: white; /* Cor branca ao clicar */
}

.result-label {
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF; /* Cor do texto branco */
}
